.header-nav{
    display:flex;
	align-items: flex-start;
    height: 4rem;
    width: 100%;
    padding: 10px;
    .tabs-nav{
        display:flex;
        margin: 20px 20px 5px 80px;
        width: 6rem;
        height: 2rem;
        
        a{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            text-decoration: none;
            color: #FFFFFF;
            width: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                border-bottom: 4px solid #6A03EE;
            }
        }
    }
}