.header{
    background-image: url('../assets_file/png_file/Vector.png');
    background-size: contain;
    height: 50rem;
    width: 100%;
    background-color: #080213;
    


.section{
    display: flex;
    .heading-section{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        height: 20rem;
        justify-content: center;
    h1{
        color:white;
        font-size: 2.2rem;
        font-weight: 500;
        
    }
    p{
        color: white;
    }
}
    .button-section{
        display: flex;
        margin: 4.5rem;
        justify-content: center;
        align-content: center;
        width: 50%;
    .contact-btn{
        background-color:  #8800FF ;
        border: none;
        border-radius: .7rem;
        width: 18rem;
        height: 5rem;
        margin-top: 3rem;

        font-style: normal;
        font-weight: 700;
        font-family: inherit;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
    
        &:hover{
            background-color:  #9885d1;
        }
    }
}
}
}