.header{
    height: auto;
    max-width: 1300px;
    background-color: white;
    margin: 0% 10% 0% 10%;

.section{
    display: flex;
    justify-content: center;
    width:100%;
    @media screen {
        
    }
    .heading-section{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        height: 20rem;
        justify-content: center;
        p{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            font-variant: small-caps;
            color:black;
            width: 500px;
            margin-bottom: 1rem;
        }
        h1{ 
            color:black;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 40px;
            width: 602px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            
        }

}
    .button-section{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 50%;
    .contact-btn{
        background-color:  #6A03EE;
        border: none;
        border-radius: .7rem;
        width: 18rem;
        height: 5rem;
        margin-top: 3rem;

        font-style: normal;
        font-weight: 700;
        font-family: inherit;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
    
        &:hover{
            background-color:  #9885d1;
        }
    }
}
}
}