.header{
    background-image: url('../assets_file/png_file/Vector.png');
    background-size: contain;
    height: 50rem;
    width: 100%;
    background-color: #080213;
    


.section{
    display: flex;
    .heading-section{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        height: 20rem;
        justify-content: center;
        p{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            font-variant: small-caps;
            color: white;
            width: 300px;
            margin: 1.5rem;
        }
        h1{ 
            color:white;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 60px;
            line-height: 70px;
            width: 502px;
            display: flex;
            
        }

}
    .button-section{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 50%;
    .contact-btn{
        background-color:  #8800FF ;
        border: none;
        border-radius: .7rem;
        width: 18rem;
        height: 5rem;
        margin-top: 3rem;

        font-style: normal;
        font-weight: 700;
        font-family: inherit;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
    
        &:hover{
            background-color:  #9885d1;
        }
    }
}
}
}