.project{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    .project-header{
        display: flex;
        align-content: center;
        align-items: center;
        width: 1240px;
        justify-content: flex-start;

        h1{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            font-variant: small-caps;
            color: black;
        }
    }
    .project-body{
        max-width: 1240px;
        display: flex;
            
    .projects{
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
        h1{
            display: flex;
        }
        
        .cards-container{
            width: 100%;
    
            }
        }
    }
}