.projects{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    h1{
        justify-content: center;
        display: flex;
        // font-size: 40px;
    }
    .line{
        justify-content: center;
        display: flex;
    }
    .cards-container{
        width: 96%;
        display: flex;
        flex-direction: wrap;
        justify-content: space-around;
    }
}