.projects{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    
    h1{
        justify-content: center;
        display: flex;
    }
    .project-header{
        display: flex;
        align-content: center;
        align-items: center;
        height: 10rem; 
        width: 25%;
        margin-left: 13.25rem;
        h1{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            font-variant: small-caps;
            color: #FFFFFF;
        }
    }
    .cards-container{
        width: 100%;
        margin-left: 13.50rem;
    }
}