
.card-style{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30rem;
    margin: 0rem 0rem 5rem 0rem;


    .project-image{
        margin: .5rem 3rem 8rem 0rem ; 
        img {
            width: 100%;
            height: 362px;
            &:hover{
                border: 4px solid #6A03EE;
            }  
        }   
  
    }

    .project-info{
        width: 65%;
        h1{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 35px;
            color: #FFFFFF;
        }
        h3{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: .5rem;

            color: rgba(255, 255, 255, 0.8);

        }
        p{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;

            color: rgba(255, 255, 255, 0.8);
        }
        a{
           svg, img{
               margin: 1rem .5rem 0rem .5rem ;
               &:hover{
                   cursor: pointer;
                   border: 2px solid white;
                   border-radius: 10px;
               }
           }
        }
    }
    }
