
.card-style{
        border: 2px solid#9885d1;;
        border-radius: 1rem;
        width: 25%;
        margin: 2rem;
        align-items: center;
        h1{
            justify-content: center;
            display: flex;
            margin-top:1rem;
            font-size: 20px;
        }

    }
