
.card-style{
    display: flex;


    .project-image{
        margin: 0rem 3rem 8rem 0rem ; 
        img {
            width: 532px;
            height: 322px;
        }      
         }

    .project-info{
        width: 428px;
        h1{
            justify-content: center;
            display: flex;
            margin-top:1rem;
            font-size: 20px;
            color: #FFFFFF;
        }
        h3{
            color: #FFFFFF;
        }
        p{
            color: #FFFFFF;
        }
    }
    }
