.header{
    background-image: url('../assests_file/background.png');
    background-size: cover;
    height: 30rem;
    width: 100%;


    h1{
        color:white;
        font-size: 2.2rem;
        font-weight: 500;
    }
    p{
        color: white;
    }
}